/* Your Code Here! */

:root {
    --primary: #396dff;
    --grey: #f7f7f7; 
    --white: #ffff;  
}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto&display=swap');






.u-textCenter {
    text-align:center; 
}


body {
    font-family: 'Open Sans', sans-serif;
}


.navTitle {
    color: var(--primary); 
    font-size: 20px; 
}







